#!/bin/bash
#
# Settings file for WoW-init.d-script
# ================================
# 
# Make a copy of this file named config
# and edit the variables to your needs.
#

# Name auth server
AUTHSERVER="authserver"

# Name of world server 
WORLDSERVER="worldserver"

# Name to use for the screens instances
AUTHSCREEN="authserver"
WORLDSCREEN="worldserver"

# User that should run the server
USERNAME="wow"

# Path to bin server directory 
WOWPATH="/home/${USERNAME}/bin"


# Log roling
# =====================

# Status
# "false" - (disabled)
# "true"  - (enabled)
LOGROLL="true"

# Location for logs (folder).
BACKUPPATH="/home/${USERNAME}/logs"

# Format for log roll (tar or zip).
BACKUPFORMAT="tar"  

# Location for old logs
# Used by the log-roll command
LOGPATH="/home/${USERNAME}/oldlogs"

# Things to leave alone ;)
# =====================

AUTHINVOCATION="./${AUTHSERVER}"
WORLDINVOCATION="./${WORLDSERVER}"